body{
  margin: 0;
  background-color: #;
}

input.input{
  border: 0.5px solid black;
  padding: 7px 10px;
  width: 25rem;
  margin: 8px 0;
  border-radius: 5px;
}

input.button{
  padding: 9px;
  background-color: #8d65cc;
  color: white;
}

input.button,input .input, a{
  margin: 8px 0;
}
.container{
  display: flex;
  min-width: 50em;
  min-height: 30em;
}

.left-side{
  background-color: #3b82f6;
  width:50%;
  align-items:center;
  justify-items: center;
}

.right-side{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.right-side .warn{
  height: 4rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.right-side a, .right-side p{
  font-size: 0.9rem;
}


.warn{
  background-color: #f9f871
}